<ion-grid class="main-container">
  <div class="middle-pst">
    <div class="middle-container">
      <ion-icon name="chatbox" class="middle-icon"></ion-icon>
    </div>
  </div>
  <div class="container">
    <div class="ion-margin mySlides fade feedback-header">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-lg="3" size-md="12" size-sm="12" size-xs="12">
          <div class="feedback-container">
            <ion-text class="ion-text-uppercase feedback-name"
              >Alexis Simpson
              <span class="feedback-role">- CEO & Developer</span></ion-text
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="ion-margin feedbackText">
            <span class="openQ">"</span>
            Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis,
            sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum
            mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div class="ion-margin mySlides fade feedback-header">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-lg="3" size-md="12" size-sm="12" size-xs="12">
          <div class="feedback-container">
            <ion-text class="ion-text-uppercase feedback-name"
              >Steven Cole
              <span class="feedback-role"
                >- User Interface Designer</span
              ></ion-text
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="feedbackText">
            <span class="openQ">"</span>
            Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis,
            sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum
            mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div class="ion-margin mySlides fade feedback-header">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-lg="3" size-md="12" size-sm="12" size-xs="12">
          <div class="feedback-container">
            <ion-text class="ion-text-uppercase feedback-name"
              >Frank Piener
              <span class="feedback-role">- Sales Manager</span></ion-text
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="feedbackText">
            <span class="openQ">"</span>
            Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis,
            sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum
            mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div class="ion-margin mySlides fade feedback-header">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-lg="3" size-md="12" size-sm="12" size-xs="12">
          <div class="feedback-container">
            <ion-text class="ion-text-uppercase feedback-name"
              >Ashley Lennon
              <span class="feedback-role">- IT Specialist</span></ion-text
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p class="feedbackText">
            <span class="openQ">"</span>
            Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis,
            sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum
            mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
            <span class="closeQ">"</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="ion-margin-bottom ion-padding-bottom">
      <ion-col>
        <div class="ion-text-center">
          <span class="left-arrow" (click)="plusSlides(-1)">
            <ion-icon name="caret-back-outline" class="arrow1"></ion-icon>
          </span>
          <span class="right-arrow" (click)="plusSlides(1)">
            <ion-icon name="caret-forward-outline" class="arrow2"></ion-icon>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
