<ion-grid class="ion-margin-vertical skill-background">
  <div class="middle-pst">
    <div class="middle-container">
      <ion-icon name="briefcase-outline" class="middle-icon"></ion-icon>
    </div>
  </div>
  <div class="container">
    <ion-row class="ion-margin ion-text-center skill-header">
      <ion-col>
        <div class="line-container">
          <span class="line"></span>
          <div class="ion-justify-content-center title flex text-white">
            <div class="ion-align-items-center ion-margin-horizontal flex">
              <div class="shape3"></div>
              <div class="shape2"></div>
              <div class="shape1"></div>
            </div>
            OUR POWERFUL <span class="c-title">SKILLS</span>
            <div class="ion-align-items-center ion-margin-horizontal flex">
              <div class="shape1"></div>
              <div class="shape2"></div>
              <div class="shape3"></div>
            </div>
          </div>
        </div>
        <p class="subtitle pt-2">
          We offer our customers the best services & solutions, this is our main
          services list
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin ion-padding-vertical">
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-75">
          <div class="circle">
            <div class="circle-text">75%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">
          WEB DESIGN
        </div>
      </ion-col>
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-92">
          <div class="circle">
            <div class="circle-text">92%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">
          WEB DEVELOPMENT
        </div>
      </ion-col>
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-68">
          <div class="circle">
            <div class="circle-text">68%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">
          SPEED OPTIMIZATION
        </div>
      </ion-col>
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-100">
          <div class="circle">
            <div class="circle-text">100%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">
          CUSTOMER SUPPORT
        </div>
      </ion-col>
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-83">
          <div class="circle">
            <div class="circle-text">83%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">MARKETING</div>
      </ion-col>
      <ion-col
        size-lg="2"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="ion-justify-content-center ion-align-items-center flex flex-column"
      >
        <div class="circle-border-50">
          <div class="circle">
            <div class="circle-text">50%</div>
          </div>
        </div>
        <div class="ion-margin ion-text-center skills-text my-3">
          ADVERTISEMENT
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
