<ion-grid class="ion-margin-vertical">
  <div class="container">
    <ion-row class="ion-margin ion-text-center">
      <ion-col>
        <div class="line-container">
          <span class="line"></span>
          <div class="ion-justify-content-center title flex">
            <div class="ion-align-items-center ion-margin-horizontal flex">
              <div class="shape3"></div>
              <div class="shape2"></div>
              <div class="shape1"></div>
            </div>
            WHAT WE <span class="c-title ion-margin-start">OFFER</span>
            <div class="ion-align-items-center ion-margin-horizontal flex">
              <div class="shape1"></div>
              <div class="shape2"></div>
              <div class="shape3"></div>
            </div>
          </div>
        </div>
        <p class="subtitle pt-2">
          We offer our customers the best services & solutions, this is our main
          services list
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col
        size-lg="4"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="flex flex-column ion-justify-content-center ion-align-items-center ion-margin-vertical"
      >
        <div class="black-circle">
          <ion-icon name="desktop-outline" class="pst-icons"></ion-icon>
        </div>
        <div class="offer-text ion-margin-top">RESPONSIVE & MULTIPURPOSE</div>
        <p class="ion-text-center">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum
          fringilla accumsan ornare quis.
        </p>
        <button type="button" class="ion-text-uppercase offer-btn">
          Read More
        </button>
      </ion-col>
      <ion-col
        size-lg="4"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="flex flex-column ion-justify-content-center ion-align-items-center ion-margin-vertical"
      >
        <div class="green-circle">
          <ion-icon name="extension-puzzle" class="pst-icons"></ion-icon>
        </div>
        <div class="offer-text ion-margin-top">EASY CUSTOMIZATION</div>
        <p class="ion-text-center">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum
          fringilla accumsan ornare quis.
        </p>
        <button type="button" class="ion-text-uppercase offer-btn">
          Read More
        </button>
      </ion-col>
      <ion-col
        size-lg="4"
        size-md="12"
        size-sm="12"
        size-xs="12"
        class="flex flex-column ion-justify-content-center ion-align-items-center ion-margin-vertical"
      >
        <div class="black-circle">
          <ion-icon name="aperture-outline" class="pst-icons"></ion-icon>
        </div>
        <div class="offer-text ion-margin-top">AWESOME FRIENDLY SUPPORT</div>
        <p class="ion-text-center">
          Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum
          fringilla accumsan ornare quis.
        </p>
        <button type="button" class="ion-text-uppercase offer-btn">
          Read More
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
