<ion-app>
  <!-- Menu Items -->
  <ion-menu side="end" contentId="main">
    <ion-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-list>
              <ion-menu-toggle>
                <div class="menuItems">
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Home</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Portfolio</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Blog</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Pages</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Features</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Mega Menu</ion-label>
                  </div>
                  <div class="menuLabel ion-margin-vertical ion-text-uppercase">
                    <ion-label>Contact</ion-label>
                  </div>
                </div>
              </ion-menu-toggle>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
