<ion-grid class="ion-margin-vertical">
  <div class="container">
    <ion-row class="ion-margin ion-padding-vertical">
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="desktop-outline" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">
              responsive & multipurpose
            </div>
            <div class="section-subs">Desktops, Tablets & Phones</div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="extension-puzzle" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">easy customization</div>
            <div class="section-subs">One Click Demo Content Installation</div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="star" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">unlimited features</div>
            <div class="section-subs">
              Shortcodes, Typography & Different Layouts
            </div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin ion-padding-vertical">
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="document-text-outline" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">
              clean & modular coding
            </div>
            <div class="section-subs">
              100% Clean, Valid & Well-Commented Coding
            </div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="cart" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">
              the best e-commerce solutions
            </div>
            <div class="section-subs">WooCommerce Fully Integration</div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size-lg="4" size-md="12" size-sm="12" size-xs="12">
        <div class="flex">
          <div class="ion-margin-end">
            <div class="square-container">
              <div class="square">
                <ion-icon name="aperture-outline" class="icon"></ion-icon>
                <div class="diamond"></div>
              </div>
              <div class="pst-shape">
                <div class="flex flex-column">
                  <div class="square2">
                    <div class="diamond2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="ion-text-uppercase offer-text">
              awesome friendly support
            </div>
            <div class="section-subs">Free Lifetime Support & Updates</div>
            <p class="section-explain">
              Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc
              vestibulum fringilla accumsan. Praesent arcu turpis.
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
