<ion-content class="subscribe-container">
  <ion-grid class="spacer">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center" *ngIf="data.email" size="12">
        <ion-text
          >Thank you for registering. We have sent an email to
          {{data.email}}</ion-text
        >
      </ion-col>
      <ion-col class="ion-text-center" *ngIf="!data.email" size="12">
        <ion-text>Failed to Register</ion-text>
      </ion-col>
      <ion-col
        class="ion-text-center"
        size-lg="4"
        size-md="12"
        size-sm="12"
        size-xs="12"
      >
        <ion-button
          class="ion-text-uppercase back-btn"
          expand="full"
          routerLink="/home"
          >Back To Home</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
