<ion-content [fullscreen]="true">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- WHAT WE OFFER -->
  <app-offer></app-offer>

  <!-- OUR POWERFUL SKILLS -->
  <app-skill></app-skill>

  <!-- Advertise -->
  <app-advertise></app-advertise>

  <!-- Contact -->
  <app-contact></app-contact>

  <!-- Register Form -->
  <app-register></app-register>

  <!-- User Feedback -->
  <app-feedback></app-feedback>

  <!-- Partner -->
  <app-partner></app-partner>

  <!-- Footer -->
  <app-footer></app-footer>
</ion-content>
