<ion-grid class="ion-margin-vertical contact-background">
  <div class="container contact-container">
    <ion-row
      class="ion-margin ion-padding-vertical ion-align-items-center contact-align"
    >
      <ion-col
        class="ion-padding-vertical"
        size-xl="2.5"
        size-lg="3"
        size-md="8"
        size-sm="8"
        size-xs="8"
      >
        <div class="card-img">
          <div class="card-name-container">
            <ion-text class="ion-text-uppercase card-name"
              >alexis simpson</ion-text
            >
          </div>
        </div>
        <div class="card-detail-container">
          <div class="card-position">
            <ion-text class="card-role">CEO & Developer</ion-text>
            <hr class="break-line" />
            <div
              class="flex ion-justify-content-center ion-align-items-center ion-text-center margin-8"
            >
              <ion-icon name="mail" class="contact-icon"></ion-icon>
              <ion-text>abc@gmail.com</ion-text>
            </div>
            <div class="flex ion-align-items-center ion-text-center">
              <ion-icon name="call" class="contact-icon"></ion-icon>
              <ion-text>1-911-77-222-1111</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="ion-padding-vertical"
        size-xl="2.5"
        size-lg="3"
        size-md="8"
        size-sm="8"
        size-xs="8"
      >
        <div class="s-card-img">
          <div class="ion-align-items-center flex s-card-social">
            <div class="social-container">
              <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
            </div>
            <div class="s-social-container">
              <ion-icon name="logo-twitter" class="s-social-icon"></ion-icon>
            </div>
            <div class="social-container">
              <ion-icon name="logo-google" class="social-icon"></ion-icon>
            </div>
            <div class="social-container">
              <ion-icon name="logo-vimeo" class="social-icon"></ion-icon>
            </div>
            <div class="social-container">
              <ion-icon name="logo-dribbble" class="social-icon"></ion-icon>
            </div>
          </div>
          <div class="s-card-name-container">
            <ion-text class="ion-text-uppercase s-card-name"
              >steven cole</ion-text
            >
          </div>
        </div>
        <div class="card-detail-container">
          <div class="card-position">
            <ion-text class="card-role">User Interface Designer</ion-text>
            <hr class="break-line" />
            <div
              class="flex ion-justify-content-center ion-align-items-center ion-text-center margin-8"
            >
              <ion-icon name="mail" class="contact-icon"></ion-icon>
              <ion-text>abc@gmail.com</ion-text>
            </div>
            <div class="flex ion-align-items-center ion-text-center">
              <ion-icon name="call" class="contact-icon"></ion-icon>
              <ion-text>1-911-77-222-1111</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="ion-padding-vertical"
        size-xl="2.5"
        size-lg="3"
        size-md="8"
        size-sm="8"
        size-xs="8"
      >
        <div class="card-img">
          <div class="card-name-container">
            <ion-text class="ion-text-uppercase card-name"
              >frank piener</ion-text
            >
          </div>
        </div>
        <div class="card-detail-container">
          <div class="card-position">
            <ion-text class="card-role">Sales Manager</ion-text>
            <hr class="break-line" />
            <div
              class="flex ion-justify-content-center ion-align-items-center ion-text-center margin-8"
            >
              <ion-icon name="mail" class="contact-icon"></ion-icon>
              <ion-text>abc@gmail.com</ion-text>
            </div>
            <div class="flex ion-align-items-center ion-text-center">
              <ion-icon name="call" class="contact-icon"></ion-icon>
              <ion-text>1-911-77-222-1111</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col
        class="ion-padding-vertical"
        size-xl="2.5"
        size-lg="3"
        size-md="8"
        size-sm="8"
        size-xs="8"
      >
        <div class="card-img">
          <div class="card-name-container">
            <ion-text class="ion-text-uppercase card-name"
              >ashley lennon</ion-text
            >
          </div>
        </div>
        <div class="card-detail-container">
          <div class="card-position">
            <ion-text class="card-role">IT Specialist</ion-text>
            <hr class="break-line" />
            <div
              class="flex ion-justify-content-center ion-align-items-center ion-text-center margin-8"
            >
              <ion-icon name="mail" class="contact-icon"></ion-icon>
              <ion-text>abc@gmail.com</ion-text>
            </div>
            <div class="flex ion-align-items-center ion-text-center">
              <ion-icon name="call" class="contact-icon"></ion-icon>
              <ion-text>1-911-77-222-1111</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin ion-padding-vertical contact-align">
      <ion-col size-lg="12" size-md="8" size-sm="8" size-xs="8">
        <ion-button class="ion-text-uppercase view-btn" expand="full"
          >View All Works</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
